includes:
  - vendor/phpstan/phpstan-symfony/extension.neon

  # To create a baseline run the following command and then uncomment the include below (make sure to run the baseline
  # command with the same level as configured in Grumphp)
  #      vendor/bin/phpstan analyse --configuration=./phpstan.neon --generate-baseline --level=6
  # - phpstan-baseline.neon

parameters:
  paths:
    - src

    # Uncomment when your project has unit tests:
    # - tests

    # Add any other project folder containing source files, e.g.
    # - bundles

  excludePaths:
    # - tests/fixtures/*

  # Point PHPStan to internal constants that are bootstrapped
  bootstrapFiles:
    - ./vendor/youwe/testing-suite/config/pimcore/phpstan-bootstrap.php

  ignoreErrors:
    # PHPStan won't correctly recognize "@var Pimcore\Model\DataObject\ClassName $this", something we often use in
    # abstract models. The "varTag.nativeType" rule has been added recently to PHPStan and apparently is not stable
    # enough yet. Disable this check completely.
    - { identifier: varTag.nativeType }
